.container{
    height: 100%;
    width: 100%;
}

.footer{
    padding-top: 100px;
}
.search-container{
    display: flex;
    justify-content: center;
}

.titolo-container{
    padding-top: 20px;
    text-align: center;
}

#search-pokemon{
    height: 40px;
    border-radius: 10px;
    border-width: 1px;
    font-size: large;
    width: 30%;
}

.card-pokemon-container{
    margin-top: 2rem;
    margin-inline: 1rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    row-gap: 1rem;
}

.pokemon-card{
    box-shadow: #9E9E9E 5px 4px 10px 0px;
    width: 85%;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pokemon-id{
    font-size: 24px;
    margin-block: 5px;
}

.pokemon-name{
    font-size: 24px;
    font-weight: bold;
    margin-block: 5px;
}

.img-pokemon{
    height: 250px;
    width: 250px;
}

.type-pokemon{
    display: flex;
}

div.type-pokemon p {
    font-size: 16px;
    font-weight: bold;
    min-width: 80px;
    text-align: center;
    border-radius: 20px;
    color: white;
    padding: 8px;
    margin-inline: 3px;
}

.grass{
    background-color: #63BB5B;
}

.poison{
    background-color: #AB6AC8;
}

.fire{
    background-color: #FF9C54;
}

.flying{
    background-color: #92AADE;
}

.water{
    background-color: #4D90D5;
}

.bug{
    background-color: #90C12C;
}

.normal{
    background-color: #9099A1
}

.electric{
    background-color: #F3D23B;
}

.ground{
    background-color: #D97746;
}

.fairy{
    background-color: #EC8FE6;
}

.fighting{
    background-color: #CF4069;
}

.psychic{
    background-color: #F97175;
}

.rock{
    background-color: #C7B78B;
}

.steel{
    background-color: #5A8EA1;
}

.ice{
    background-color: #74CEC0;
}

.ghost{
    background-color: #5269AC;
}

.dragon{
    background-color: #096DC4;
}

/* tablet */
@media screen and (max-width: 900px){
    #search-pokemon{
        width: 50%;
    }
    
    .card-pokemon-container{
        margin-top: 2rem;
        margin-inline: 1rem;
        display: grid;
        grid-template-columns: auto auto;
    }
}

/* mobile */
@media screen and (max-width: 600px){ 
    #search-pokemon{
        width: 80%;
    }
    
    .card-pokemon-container{
        margin-top: 2rem;
        margin-inline: 1rem;
        display: grid;
        grid-template-columns: auto;
    }
}


